.img-logo 
{
    height: 25px !important;
}

.navbar-item .nav-link
{
    color: #12CBC4 !important;
    /* color: #1289A7; */

}

.icon-white {
    /* background-color: white; */
    color: white;
}

.main-title {
    color: black !important;
}

.btn-cleanig {
    background-color: #2B79AE !important;
}